.app {
	/*margin-top: 10px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	width: 500px;
	min-height: 700px;
	background: #1e1e1e;
	color: #ffffff;
	align-items: center;
	position: relative;
}

.header {
	position: static;
	width: 100%;
	height: 100px;
	color: #ffffff;
	text-align: center;
	z-index: 999;
}

.taskList {
	width: 100%;
	margin-bottom: 100px;
}

.task {
	margin: 5px auto;
	width: 90%;
	height: 100px;
	background: #263238;
	display: flex;
	align-items: center;
	padding-left: 10px;
	border-left: 10px solid #fed36a;
}

.footer {
	display: flex;
	background: #263238;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	justify-content: space-between;
	align-items: center;
}

.input {
	background: #455a64;
	border: none;
	width: 80%;
	height: 50px;
	padding: 10px;
	color: #ffffff;
	margin: auto;
}

.input::placeholder {
	color: #d2d2d2;
}

.btn {
	width: 50px;
	height: 50px;
	background: #fed36a;
	border: none;
	cursor: pointer;
	color: #212832;
	font-weight: bold;
	font-size: larger;
	margin: auto;
}
